.alert-to-buy{
    color: green;
    font-weight: bolder;
}
.alert-to-buy-more{
    color: orangered;
    font-weight: bolder;
}
.cart{
    position: sticky;
    top: 0;
}
.thanks-alert{
    color: blueviolet;
    font-weight: bolder;
}
.discount-50{
    color: darkcyan;
    font-weight: bolder;
}
.special-client-alert{
    color:deeppink;
    font-weight: bolder;
}
.orchid{
    color: orchid;
}
.black{
    color: black;
}
.bolder{
    font-weight: bolder;
}
.lightseagreen{
    color: lightseagreen;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.special{
    color: peru;
}